<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" md="6" class="p-4 mr-">

        <v-card ref="form" class="p-4 form-container">
          <v-row>
            <v-col cols="12" md="12" class="p-4 m-4">
              <v-text-field
                label="Name"
                outlined
                v-model="guestFormDetails.name"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="12" class="p-4 m-4">
              <v-text-field
                label="E-mail"
                v-model="guestFormDetails.email"
                outlined
                required
                class="p-4 m-4"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="12">
              <v-textarea
                name="input-7-1"
                label="Comment"
                value=""
                outlined
                v-model="guestFormDetails.comment"
                hint="Say something nice"
              ></v-textarea>
            </v-col>
            <v-col cols="12" md="12" class="my-2">
              <v-btn small @click="logGuest">Comment</v-btn>
            </v-col>
          </v-row>

        </v-card>

      </v-col>
      <v-col cols="12" md="6">
          <v-card class="mx-auto" cols="12" md="12">
            <v-toolbar color="pink" dark>
              <v-toolbar-title>Visitors Guestbook</v-toolbar-title>

              <div class="flex-grow-1"></div>


            </v-toolbar>
          </v-card>
          <v-list two-line>
            <v-list-item-group v-if="guests != undefined">
              <template v-for="(item, index) in guests">
                <v-list-item :key="item.id">
                  <template>

                    <v-list-item-content >
                      <v-list-item-title v-text="item.name"></v-list-item-title>
                      <v-list-item-subtitle class="text--primary" v-text="item.email"></v-list-item-subtitle>
                      <v-list-item-subtitle v-text="item.comment"></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-content>
                      <v-col cols="12" md="12" class="my-2 text-right">
                          <v-btn class="mx-2" fab dark small color="primary" @click="viewGuest(index)">
                            <v-icon dark>mdi-eye</v-icon>
                          </v-btn>

                          <v-btn class="mx-2" fab dark small color="pink" @click="editGuest(index)">
                            <v-icon dark>mdi-pencil</v-icon>
                          </v-btn>

                          <v-btn class="mx-2" fab dark small color="indigo" @click="confirmDelete(index)">
                            <v-icon dark>mdi-delete</v-icon>
                          </v-btn>

                      </v-col>
                    </v-list-item-content>


                  </template>
                </v-list-item>
              </template>
            </v-list-item-group>
          </v-list>

      </v-col>
    </v-row>
     <v-dialog v-model="dialog" width="500" >

      <v-card>
        <v-card-title class="headline grey lighten-2" primary-title >
          {{ guestDetails.name }}
        </v-card-title>

        <v-card-text>
          {{ guestDetails.comment }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn color="primary" text @click="dialog = false">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="editModal" width="500">
      <v-card ref="form" class="p-4 form-container">
        <v-row>
          <v-col cols="12" md="12" class="p-4 m-4">
            <v-text-field
              label="Name"
              outlined
              v-model="guestDetails.name"
              required
            ></v-text-field>
            <v-text-field
              v-model="guestDetails.id"
              v-show="0 > 100">
            </v-text-field>
          </v-col>
          <v-col cols="12" md="12" class="p-4 m-4">
            <v-text-field
              label="E-mail"
              v-model="guestDetails.email"
              outlined
              required
              class="p-4 m-4"
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="12">
            <v-textarea
              name="input-7-1"
              label="Comment"
              value=""
              outlined
              v-model="guestDetails.comment"
              hint="Say something nice"
            ></v-textarea>
          </v-col>
          <v-col cols="12" md="12" class="my-2">
            <v-btn small @click="updateGuest">Update</v-btn>
            <v-btn color="primary" text @click="editModal = false">
            Close
          </v-btn>
          </v-col>
        </v-row>

      </v-card>
    </v-dialog>
  </v-container>

</template>

<style scoped>
  .form-container{
    padding:45px;
  }
  .text-right{
    text-align: right;
  }
</style>

<script>
import axios from 'axios';
import swal from 'sweetalert';
import Constants from '@/common/Constants.js'

export default {

  head: {
    title: 'List of posts'
  },

  asyncData ({ req, params }) {
    return axios.get(Constants.API_GET_GUESTS)
      .then((res) => {

        return { guests: res.data.guests }
      })
      .catch(function(error) {
        return { guests: [] }
      });
  },
  data() {
    return {
      guestFormDetails:{
        name : '',
        email:'',
        comment:''
      },
      guestDetails:{
        id:'',
        name : '',
        email:'',
        comment:''
      },
      dialog: false,
      editModal:false,
      currentIndex:0
    }
  },
  methods: {
    logGuest() {

      axios.post(Constants.API_CREATE_GUEST, this.guestFormDetails)
          .then(response => {
              if(response.data.status == "success"){
                  this.guests.push(Object.assign({}, response.data.guest, {}));
              }
          }).catch(error => {
              if (error.response) {
                  this.handleError(error);

              }
          });
    },
    viewGuest(index){
      this.dialog = true;
      this.currentIndex = index;
      this.guestDetails = Object.assign({}, this.guests[index], {})
    },
    editGuest(index){
      this.editModal = true;
      this.currentIndex = index;
      this.guestDetails = Object.assign({}, this.guests[index], {})
    },

    updateGuest(){
      axios.put(Constants.API_UPDATE_GUEST, this.guestDetails)
        .then(response => {
            if(response.data.status == "success"){
                this.guests = response.data.guests;
                this.editModal = false;
            }
        }).catch(error => {
            if (error.response) {
                this.handleError(error);

            }
        });

    },
    confirmDelete(index) {
      this.guestDetails = Object.assign({}, this.guests[index], {});

      const customAlert = swal({
          title: 'Warning',
          text: `Are you sure you want to delete "${this.guestDetails.name}" record? This action cannot be undone.`,
          icon: 'warning',
          closeOnClickOutside: false,
          buttons: {
              cancel: {
                  text: "cancel",
                  visible: true,
                  className: "",
                  closeModal: true,
              },
              confirm: {
                  text: "Confirm",
                  value: 'delete',
                  visible: true,
                  className: "btn-danger",
              }
          }
      });

      customAlert.then(value => {
          if (value == 'delete') {
              axios.delete(Constants.API_DELETE_GUEST, {data: this.guestDetails})
                .then(response => {
                    if(response.data.status == "success"){
                        this.guests.splice(index, 1);
                    }
                }).catch(error => {
                    if (error.response) {
                        this.handleError(error);
                    }
                });
          }
      })
    },

    handleError(error){
      swal("Error!", error.response.data.message, "error");
    }
  }
}
</script>

